# Django
*.log
*.pot
*.pyc
__pycache__/
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# Virtual environments
venv/
.venv/
env/

# Python
*.py[cod]
*$py.class

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db