# Django
*.log
*.pot
*.pyc
__pycache__/
*.sqlite3
db.sqlite3
media/
staticfiles/

# Virtual environments
venv/
.venv/

# Python
*.py[cod]
*$py.class

# Node
node_modules/

# Wrangler
.wrangler/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db